---
import Layout from "../layouts/Layout.astro";
import { ArrowRightIcon, EyeIcon, EyeOffIcon } from "astro-feather";
import { SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";
import demoImage from "../images/original.jpg";
---

<Layout isFrontPage={true}>
  <p class="is-h2" slot="after-header">
    A custom element that renders a <a href="https://github.com/evanw/thumbhash">thumbhash</a> placeholder for your lazy-loaded images
  </p>

  <figure
    class="demo-image"
    style={{ "aspect-ratio": demoImage.width / demoImage.height }}
  >
    <button
      type="button"
      onclick="this.parentNode.classList.toggle('hide-image')"
      title="Toggle image"
      class="button"
    >
      <span class="show-if-hidden"><EyeIcon /> Show image</span>
      <span class="show-if-visible"><EyeOffIcon /> Hide image</span>
    </button>

    <thumb-hash value="YTkGJwaRhWUIt4lbgnhZl3ath2BUBGYA"></thumb-hash>
    <Image src={demoImage} alt="A bird." loading="lazy" />
  </figure>
</Layout>

<style>
  #footer {
    margin-block: 5%;
  }
</style>

<script>
  import ThumbHashElement from "../../../src/index.js";
  ThumbHashElement.define();
</script>
