---
import Layout from "../layouts/Layout.astro";
import { SITE_DESCRIPTION } from "../consts";
import DemoImage from "../components/DemoImage.astro";
---

<Layout isFrontPage={true}>
  <p class="is-h2" slot="after-header">
    A custom element that renders a <a href="https://github.com/evanw/thumbhash"
      >thumbhash</a
    > placeholder for your lazy-loaded images
  </p>

  <section class="demos" data-testid="demos-1">

      <DemoImage
        imagePath="/images/original.jpg"
        title="Thumbhash"
      />
      <DemoImage
        imagePath="/images/original.jpg"
        title="Average Color"
        strategy="average"
      />

  </section>

  <section class="demos" data-testid="demos-2">

    <DemoImage
      imagePath="/images/duck-2.jpg"
      title="Thumbhash"
      strategy="img"
    />
    <DemoImage
      imagePath="/images/duck-2.jpg"
      title="Average Color"
      strategy="average"
    />
  </section>

  <section class="demos" data-testid="demos-3">
    <DemoImage
      imagePath="/images/duckling.jpg"
      title="Thumbhash"
      strategy="canvas"
    />
    <DemoImage
      imagePath="/images/duckling.jpg"
      title="Average Color"
      strategy="average"
    />
  </section>
</Layout>

<style>
  #footer {
    margin-block: 5%;
  }
</style>

<script>
  import ThumbHashElement from "../../../src/index.js";
  ThumbHashElement.init();
  // console.log(document.querySelector('thumb-hash')?.shadowRoot?.querySelector('canvas')?.outerHTML);
</script>

<!-- <script type="module">
  import ThumbHashElement from "https://unpkg.com/@hirasso/thumbhash-custom-element@0?module";
  ThumbHashElement.init();
</script> -->
